@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), 
  url(https://themes.googleusercontent.com/static/fonts/lobster/v5/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url(http://themes.googleusercontent.com/static/fonts/cabin/v4/kJXt72Gt1LyFMZcEKAAvlKCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: whitesmoke;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

header {
  color: green;
}

/* nav-bar related */
.brand {
  font-family: Lobster, Georgia, Times, serif;
}

.navbar-inner {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

/* header unit related */
.hero-unit {
  background-image: url('../img/trees-large.jpg');
  color: linen;
}

.brand-english {
  font-family: Lobster, Georgia, Times, serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.2em;
}

.brand-hindi { 
  font-weight: bold;
  font-size: 1.2em;
}


.section {
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

iframe {
  border: 5px solid black;

}

img {
  padding-bottom: 20px;
  padding-top: 70px;
}

h2, h3{
  font-family: Lobster, Georgia, Times, serif;
  font-weight: normal;
}


p {
  padding-top: 10px;
  font-size: 1.1em;
  font-family: Cabin, Helvetica, Arial, sans-serif; 
  font-size: 1.3em;
  line-height: 1.3em;
}

@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }