@font-face {
    font-family: 'WCRhesusABtaRegular';
    src: url('../fonts/WC_Rhesus_A_Bta-webfont.eot');
    src: url('../fonts/WC_Rhesus_A_Bta-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WC_Rhesus_A_Bta-webfont.woff') format('woff'),
         url('../fonts/WC_Rhesus_A_Bta-webfont.ttf') format('truetype'),
         url('../fonts/WC_Rhesus_A_Bta-webfont.svg#WCRhesusABtaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), 
  url(https://themes.googleusercontent.com/static/fonts/lobster/v5/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), 
  url(http://themes.googleusercontent.com/static/fonts/cabin/v4/kJXt72Gt1LyFMZcEKAAvlKCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}

@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'), 
  url(http://themes.googleusercontent.com/static/fonts/cabinsketch/v5/d9fijO34zQajqQvl3YHRCaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 700;
  src: local('CabinSketch Bold'), local('CabinSketch-Bold'), 
  url(http://themes.googleusercontent.com/static/fonts/cabinsketch/v5/ki3SSN5HMOO0-IOLOj069BAPw1J91axKNXP_-QX9CC8.woff) format('woff');
}

body {
  background-color: whitesmoke;
  font-family: Cabin Sketch, Helvetica, Arial, sans-serif;
  font-size: 20px; /* Scale origin */
  margin: 0px;
  padding: 0px;
}

#logo{
    width: 40px; height: 40px;
    position: fixed; bottom: 0px; right: 0px;
    cursor: pointer;
    z-index: 95000; opacity: 0.7;
}

#logo:hover {
  opacity: 1;
}

.container-fluid {
  max-width: 787px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.event {
  padding: 2px;
  line-height: 1em;
  font-size: 1em;
}

h1 {
  font-family: Lobster, Georgia, Times, serif;
  font-size: 3em  
}

.brand-english {
  font-weight: normal;
}

.brand-hindi { 
  font-weight: bold;
  font-size: 1.1em;
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom: 5px solid;
}

.djembe {
  font-family: djemberegular;
  font-size: 2em;
}

.design {
  font-family: WCRhesusABtaRegular;
  font-size: 0.7em;
}

iframe {
  border: 5px solid;
  -moz-box-shadow: 0 0 30px 5px #999;
  -webkit-box-shadow: 0 0 30px 5px #999;
}



.workshop   {color: teal;   } /* #008080 */
.roleplay   {color: olive;  } /* #808000 */
.narrative  {color: maroon; } /* #800000 */
.rhythm     {color: navy;   } /* #000080 */
.about      {color: purple; } /* #800080 */
.contact    {color: black;  }

.topic {
  padding-top: 10px;
  padding-bottom: 40px;
 /* border-bottom: 3px dashed;
  border-top: 3px dashed; */
}

.topic-video {
  float: right;
  padding-left: 15px;
}

.topic-details {
}

.photo {
  float: right;
  padding-left: 10px;
}

h2{
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.4em;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h3 {
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.4em;
}

p {
  padding-top: 10px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
}

